@charset "utf-8";
/* CSS Document */
input{color:#B0B0C1;font-size:15px;}
#div_body{width:100%;height:608px;position:absolute;left:0px;top:0px;background:#F5F5F5;}
	#centent1{width:808px;height:608px;margin:0 auto;background:#fff;padding-top:18px;}
	#centent2{width:360px;height:590px;margin:0 auto;background:#fff;}
	
	#logo{width:360px;height:130px;background:#fff;}
	#logo table{width:360px;height:130px;}
	#logo table tr td{text-align:center;}
	#logo span{font-size:30px;font-family:黑体;}
	
/*-------------------------------------------------------------*/
#div_form{background:#fff;width:360px;height:478px;text-align:center;margin-top:20px;}

.f1 input{width:340px;height:35px;font-family:微软雅黑;}
.f2 input{width:190px;height:35px;float:left;font-family:微软雅黑;}
.f2 span{padding:11px;background:#FF6700;margin-left:14px;color:#fff; cursor:pointer;font-size:15px;font-family:微软雅黑;}
#fs{padding-top:10px;}
.f3{width:344px;height:20px;margin-left:7px;text-align: left;font-family:微软雅黑;font-size:13px;}
#ff{width:348px;height:40px;margin-left:8px;}
#ds{margin-top:15px;margin-bottom:10px;font-family:微软雅黑;font-size:16px;color:#fff;}
#spp{padding:13px 140px;background:#FF6700;cursor:pointer;}
#spp:hover{opacity: 0.7;}


	#bottom_sp{padding-top:20px;font-size:13px;text-align:left;float:left;font-family:微软雅黑;}
	#bottom_sp a{text-decoration:none;color:black;}
	#bottom_sp span{font-size:13px;color:#9D9D9D;}



/*--------------------------------------------------*/

#bottom{width:100%;height:100px;position:absolute;left:0px;top:608px;background:#F5F5F5;}
	#bottom_1{text-align:center;font-size:13px;font-family:微软雅黑;padding:10px;}
	#bottom_1 span{color:black;}
	#bottom_1 a{text-decoration:none;color:#757575;}
	#bottom_1 a:hover{color:black;}
#bottom_2{text-align:center;font-size:13px;font-family:微软雅黑;color:#757575;}
	#bottom_2 a{text-decoration:none;color:#757575;}
